<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title .: Sistema P.D.M. - ASP.NET :.</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-notify.css" rel="stylesheet" />
    <link href="~/Medias/png/AGA.png" rel="icon" type="image/png" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary">
        <a class="navbar-brand font-weight-bold" href="#">Sistema - P.D.M.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navItems"></ul>
        </div>
    </nav>
    <section class="container-lg p-responsive">
        <hr />
        @RenderBody()
        <hr />
    </section>
    <footer class="bg-light border-top border-dark">
        <p class="text-center"><span class="font-weight-bold text-danger">&copy;Todos los derechos reservados:</span> <span class="font-weight-bold text-dark">Agrícola Andrea S.A.C. - @DateTime.Now.Year</span> </p>
    </footer>
    @Html.Hidden("RedirectToLogin", Url.Action("Login", "PDMHome"));


    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    @Scripts.Render("~/bundles/bootstrap-select")
    <script src="~/Scripts/index.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>


<script type="text/javascript">
    $(() => {
        const userData = JSON.parse(localStorage.getItem("data"));
        /*
           
        <li>Html.ActionLink("Acerca de", "About", "PDMHome", new { area = "" }, new { class = "nav-link" })</li>
            <li>Html.ActionLink("Contacto", "Contact", "PDMHome", new { area = "" }, new { class = "nav-link" })</li>
        */
        if (userData) {
            let navItem1 = `<li>@Html.ActionLink("Crear nuevo", "Index", "PDMHome", new { area = "" }, new { @class = "nav-link active" })</li>`
            let navItem2 = `<li>@Html.ActionLink("Consulta", "CheckList", "PDMHome", new { area = "" }, new { @class = "nav-link" })</li>`
            let navItem3 = `<li>
                                <a id="logout" class="nav-link" href="/">
                                    Cerrar Sesión
                                </a>
                            </li>`
            $(`#navItems`).append([navItem1, navItem2, navItem3]);
        }

        $(`#logout`).click(event => {
            event.preventDefault();
            localStorage.removeItem("data");
            let url = $("#RedirectToLogin").val(); location.href = url;
        })

    })
</script>
